<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="za.co.taffy.weatherappassessment">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WeatherAppAssessment">
        <activity
            android:name=".ui.SavedLocationsListActivity"
            android:label="@string/title_activity_saved_locations_list"
            android:theme="@style/Theme.WeatherAppAssessment.NoActionBar"></activity>
        <activity
            android:name=".ui.WeatherDetailsActivity"
            android:label="@string/title_activity_weather_details"
            android:theme="@style/Theme.WeatherAppAssessment.NoActionBar" />
        <activity
            android:name=".ui.WeatherResultsListActivity"
            android:label="@string/title_activity_weather_results_list"
            android:theme="@style/Theme.WeatherAppAssessment.NoActionBar" />
        <activity
            android:name=".ui.WeatherResultListActivity"
            android:label="@string/title_activity_weather_result_list"
            android:theme="@style/Theme.WeatherAppAssessment.NoActionBar" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBclMBVKsj9cLFAQFiE-VI3OFUYxUdVEUY" />

        <activity android:name=".ui.MainActivity" />
        <activity
            android:name=".ui.SplashActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>